.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.jumbotrons {
  border: 2px solid;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 30px;
  height: auto;
}

/* #sidebar {
  border: 2px solid;
  border-radius: 30px;
  height: auto;
} */

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

body {
  min-height: 2000px;
  background-color: #ccc;
}
